#envelope {
  position: relative;
  width: 280px;
  height: 180px;
 border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  background-color: steelblue; /* navy blue */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
 
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  /* a little smaller */
  border-top: 98px solid steelblue; /* Same navy */
  /* a little larger */
  transform-origin: top;
  pointer-events: none;
  
}

.pocket {
  border-left: 140px solid rgb(166, 201, 212); /* Soft blue for the pocket */
  border-right: 140px solid rgb(166, 201, 212);
  border-bottom: 90px solid rgb(63, 109, 175); /* Lighter navy */
  border-top: 90px solid transparent;
  border-radius: 7px;

}

.letter {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  font-family: "Dancing Script", cursive;
}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  background-color: #ffe6e6; /* Light romantic tone */
}

.words.line1 {
  top: 10%;
  font-size: 0.5rem;
  width: 20%;
  height: 7%;
  font-size: 0.7rem;
}

.words.line2 {
  top: 30%;
  text-align: center;
  font-size: 1.1rem;
}

.words.line3 {
  top: 50%;
  font-size: 1.1rem;
  text-align: center;
}

.words.line4 {
  top: 70%;
  font-size: 1.1rem;
  text-align: center;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
 overflow: hidden;
}

.open .letter {
  transform: translateY(-180px);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.a2 {
  left: 55%;
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
body.act {
  background-color:goldenrod;
  margin: 0;
}
body.main {
  background-image: url(background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
.envlope-wrapper {
  height: 380px;
  overflow: hidden;

}

.reset {
  text-align: center;
}

.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px steelblue;
  border-radius: 4px;
  color: steelblue;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}

.reset button:hover {
  background-color: #3fa5f8;
  color: steelblue;
  border: solid 2px #3fa5f8;
}

.letterimg {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}
/*
.letterimg:before{
 overflow: hidden;
}
.letterimg:after{
 position: absolute;
 overflow: hidden;
}
 */
.topper {
  width: 20%;
filter: drop-shadow(0 0 0.75rem rgb(182, 131, 2));
margin-bottom: auto;
}
.cake {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
h1 {
justify-self: center;
font-style: normal;
}
.yes {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.yes:hover {
  color: white;
  padding: 20px;
}
.reset .no, .reset .y {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}

.reset .no:hover ,.reset .y:hover {
  background-color: goldenrod;
  color: white;
  border-color: goldenrod;
}
.nuh-uh {
  justify-items: center;
  color: white;
  font-size: 1.5rem;
  display: none;
  margin-bottom: 20px;
}

.lin {
  width: 40%;
  display: flex;
  filter: drop-shadow(0 0 0.75rem rgb(182, 131, 2));
  
}
.download {
  justify-content: center;
  display:flex;
  padding: 10px 16px;
  font-size: 2rem;
  text-decoration: none;
}

.download:hover {
 filter: drop-shadow(0 0 0.75rem rgb(182, 131, 2));
}

.flyer {
  align-items: center;
  justify-content: center;
  text-align:center;
  background: #fdf6e3;
  color: rgb(63, 109, 175);
  font-family: "Dancing Script", cursive;
  width: 40%;
  border: 2px solid #fde8bd;
  border-radius: 4px;
  padding: 95px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/*
.strips {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
*/
.strip {
  padding: 10px;
  background-color: #fdf6e3;
  color: rgb(63, 109, 175);
   font-family: "Dancing Script", cursive;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #fde8bd;
  width: 130px;
  transition: transform 0.3s ease, font-size 0.3s ease;
  transform-origin: center center;
}
/*
.strip input:checked + .text {
  transform: scale(1.5);
  font-weight: bold;
}
  */
  .strip:hover, .strip:active {
  transform: translateX(40px) scale(1.8) translateY(-50px);
  z-index: 10;
  background: #fdf6e3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
/* mobile responsive styles*/
@media (max-width: 850px) {
.layout {
  justify-self: center;
  display: flex;
  align-items: stretch;
  max-width: 800px;
  max-height: max-content;
 }
  .flyer {
    width: 90%; /* Make flyer take most of screen width on mobile */
    padding: 60px 15px; /* Reduce padding for mobile */
    margin: 0 auto; /* Center the flyer */
  }
  
  .strip {
    width: 100px; /* Smaller strips for mobile */
    padding: 8px;
    font-size: 0.9rem; /* Slightly smaller text */
  }
   /* Adjust hover/active effects for mobile */
  .strip:hover, .strip:active {
    transform: translateX(20px) scale(1.4) translateY(-30px); /* Less dramatic transform */
  }
  
  .back {
    font-size: 1.2rem; /* Smaller back button text */
    padding: 15px;
  }
}
.back {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 20px;
  color: steelblue;
  text-decoration: solid;
}
.back:hover, .back:active {
  color: rgb(39, 80, 138) ;
}